<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>    
<body>
    <header>
        <h1>Fandom Jeux de Société</h1>
    </header>

    <nav>
        <a href="{{ url_for('home') }}">Accueil</a>
        <a href="{{ url_for('events') }}">Événements</a>
        <a href="{{ url_for('forum') }}">Forum</a>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
